.newpage {

}


#newpageheading{
   
    
    
    
    
    margin-left:20px;
    
    
  //  color:white;
    
    
  //  top:50px;
    z-index:99;
    //left:20%;
    
    
    
}




.newpage input {

  
    
   
   // width:80%;
    
    
}

#texttodo{
    
width:85%;
height:100px;
margin-left:10%;
margin-top:15px;
margin-bottom:15px;




  border:1px solid  lightgrey;

    
}

#texttitle{
   border:1px solid  lightgrey;

width:85%;

margin-left:10%;
margin-top:15px;
margin-bottom:15px;




    
}

#submit {

    
    margin-left:10px;
    margin-right:10px;
    
    
    position:fixed;
    bottom:0px;
height:8%;

    display:block;
    width:95%;
    
    
}

.center{
    text-align:center;
    
}

#prioritybtn{
       
    margin-left:10px;
    margin-right:10px;
    width:90%;

    background:white;
    border:1px solid orange;
     color:orange;

}