.mypage {


}


#cta {
    
    display:block;
    position:fixed;
    right:40px;
    bottom:100px;
    
    
    width:60px;
    height:60px;
        border-radius:60px;
            text-align:center;
   
        background:blue;
    color:white;
    line-height:60px;
   
    box-shadow: 1px 1px lightgrey;
    
    
    
    
    
}

.padding{
margin-left:10px;

}

#strip_pink {

     
    height:25px;



    margin-left:0px;
    margin-top:5px;
    color:white;


    padding:10px;



    background-color:pink;


    display:inline-block;
}
#strip_yellow  {
 
    height:25px;
min-width:15px;


    margin-left:0px;
    margin-top:5px;
    color:black;

    padding:5px;



    background-color:yellow;

    display:inline-block;

}
#strip{

   
    height:25px;
min-width:15px;


    margin-left:0px;
    margin-top:5px;
    color:white;
    padding:5px;



    background-color:red;
    display:inline-block;
    

}