.mypage {


}


#cta {
    
    display:block;
    position:fixed;
    right:40px;
    bottom:100px;
    
    
    width:60px;
    height:60px;
        border-radius:60px;
            text-align:center;
   
        background:blue;
    color:white;
    line-height:60px;
   
    box-shadow: 1px 1px lightgrey;
    
    
    
    
    
}

