<!--
  Generated template for the MypagePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar primary *navbar>
  <ion-title >Todo's</ion-title>
</ion-navbar>

<ion-content padding class="mypage">
  <h2> Pending : {{todoitems.length}}  </h2>
  
  <h2 *ngIf="completed" > Completed yayayayaayay :) </h2>
  <ion-list >
    
  <ion-item-sliding *ngFor = "let item of todoitems; let i=index"> 
    <ion-item (click)="clickeventhandler(item)" >
      <ion-icon #myelement *ngIf="parameter" md="md-heart" ></ion-icon>
      <h2 #myelement2 >{{   item.todo }}</h2>
    </ion-item> 
    <ion-item-options side="left">
      <button danger  (click)='remove(item,i)' > 
       <ion-icon  ios="ios-trash" md="md-trash"></ion-icon>
       
      </button>
       </ion-item-options>
       
       
      <ion-item-options side="right">
          <button secondary (click)='like(item,i)'>
           <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
       
      </button>
        
        </ion-item-options>
        
    
   
  </ion-item-sliding>
</ion-list>
  
  <h2>Completed : {{completeditems.length}} </h2> 
  
  <ion-list>
     <ion-item  (click)="clickeventhandler(citem)"  *ngFor = "let citem of completeditems">  
      
      <li>{{   citem.todo }}</li>
    </ion-item>
  
    
    </ion-list>
    
  
  <span  (click)="newpage()" id="cta">
    
    
    <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </span>
  
</ion-content>
