.mypage {


}


#cta {
    
    display:block;
    position:absolute;
    right:20px;
    
    
    width:45px;
    height:45px;
    border-radius:45px;
    text-align:center;
    padding-top:12px;
    padding-bottom:12px;
        background:blue;
    color:white;
    
    box-shadow: 1px 1px lightgrey;
    
    
    
    
    
}

#cta :hover{
    
    
    
}