.newpage {

}


#heading{
   
    
    
    
    
    
    
    color:white;
    position:absolute;
    
    top:50px;
    z-index:99;
    left:20%;
    
    
    
}


.newpage input {
  margin-left:20px;
  
    
   
    width:80%;
    height: 350px;
    
    
}

#texttodo{
    
width:80%;
height:200px;
margin-left:10%;
margin-top:15px;
margin-bottom:15px;


    
}


#submit {
    
    margin-left:10px;
    margin-right:10px;
    
    
    
    display:block;
    width:95%;
    
    
}