.newpage {

}


#newpageheading{
   
    
    
    
    
    margin-left:20px;
    
    
  //  color:white;
    
    
  //  top:50px;
    z-index:99;
    //left:20%;
    
    
    
}


.newpage input {

  
    
   
   // width:80%;
    height: 350px;
    
    
}

#texttodo{
    
width:85%;
height:200px;
margin-left:10%;
margin-top:15px;
margin-bottom:15px;
text-indent:10px;
line-height: normal; 
    
}

#texttitle{
    
width:85%;
height:70px;
margin-left:10%;
margin-top:15px;
margin-bottom:15px;
text-indent:10px;
line-height: 0;


    
}

#submit {
    
    margin-left:10px;
    margin-right:10px;
    
    
    
    display:block;
    width:95%;
    
    
}